/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    
}



nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 68px;
    text-decoration: none;
}

li {
    list-style: none;
    width: 100%;
    text-align: center;
}

.lien-entete:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 22px;
}

   


.booki-logo {
    height: 19px;
    padding-top: 30px;
}

.titre-h1 {
    font-size: 22px;
    height: 26px;
    margin-bottom: 0;
}

.p-h1 {
    margin-top: 5px;
}

.location {
    margin-top: 35px;
    gap: 35px;
    
}

.titre-filtre {
    font-size: 18px;
}

.partie-filtre {
    display: flex;
    margin-top: 35px;
    gap: 15px;
    width: 100%;
    height: 3em;
}

.fa-person {
    font-size: 20px;
}

.fa-info {
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.info-circle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.fa-circle-info {
    background-color: white;
}

.formulaire {
    display: flex;
    gap: 24px;
    width: 28%;
    height: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    margin-top: 30px;
}

form {
    display: flex;
}

.formulaire input,button {
    font-size: 18px;
    text-align: center;
         
}

.formulaire input {
    font-weight: bold;
    font-size: 18px;
    border: 0;
}



.fa-location-dot {
    font-size: 18px;
   background: #F2F2F2;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000000;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}

.rechercher {
    background: #0065FC;
    color: #FFFFFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
}

.rechercher:hover {
    cursor: pointer;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    gap: 30px;
}


main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.boutons-filtres {
    display: flex;
    gap: 10px;
    height: 50px;
}

.bouton-filtres {
    background: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 50px;
    text-wrap: nowrap;
}

.bouton-filtres:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 40px;
}

.card-hebergement {
    background-color: #FFFFFF;
    border: 1px ;
    border-radius: 20px ;
    padding-bottom: 15px;
    height: 207px;
    padding: 4px;
    box-shadow: 0px 3px 15px 0px #0000001A;

}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    width: 50%;
    padding: 30px;
}

/****** Hebergements ***********/

#hebergements {
    width: 100%;
}


.titre-h2 {
    margin-top: 0px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 22px;
}

h3 {
    margin: 0;
    font-size: 16px;
}

.p-hebergement {
    margin: 0;
}

.star-hebergement {
    display: flex;
    margin-top: 5px;
}

.btnafficher-plus {
    border: 0px;
    font-weight: bold;
    display: flex;
    font-size: 18px;
}

.loupe-awesome {
        display: none;
    }

.image-hebergement {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px;
    object-fit: cover;
}

.card-content-hebergements {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 5px;
    gap: 8px;
    font-size: 16px;
    text-wrap: nowrap;
    margin-top: 5px;
    

}

.vignette-hebergements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 25px;
    padding: 4px;
}

.populaires-cards img {
    width: 35%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*Activités*/

#activités {
    padding: 25px;
    margin-bottom: 50px;
}

.class-activités {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.h2-activites {
    margin-bottom: 40px;
}

.images-activites {
    width: 100%;
    object-fit: cover;
    height: 440px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-activites {
    background-color: #FFFFFF;
    border: 1px ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.card-activites-h3 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    font-size: 16px;
    height: 40px;

}

/* FOOTER */

.partie-footer {
    background-color: #F2F2F2;
    display: flex;
    padding: 20px;

}

.h3-footer {
    font-weight: bold;
    font-size: 18px;
}

.partie-footer div {
    width: 33%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .formulaire {
        width: 40%;
    }

    .partie-filtre {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .titre-filtre {
        margin-top: 0;
        margin-bottom: 0;
    }


    .hebergements-and-populaires {
        flex-direction: column;

    }

    .hebergements-and-populaires section {
        width: 100%;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 35px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 35px;
    }

    .populaires-cards .card {
        margin-top: 20px;
        width: 100%;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* Activités */
    
    .images-activites {
        height: 200px;
        object-fit: cover;
    }

    /* FOOTER */

    .partie-footer {
        gap: 70px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
    }

   .booki-logo {
    object-fit: contain;
   }
    
    .main-container {
        padding: 0;
    }

    main {
        display: flex;
        gap: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    li {
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 16px;
    }

    li:hover {
        border-bottom: 2px solid #0065FC;
        padding-bottom: 16px;
        width: 100%;
    }
    

    .lien-entete:hover {
        border-top: 0;
        color: #0065FC;
    }

    
    ul {
        display: flex;
        padding: 0;
        gap: 0;
        margin-top: 30px;
    }

    .p-h1 {
        margin-top: 30px;
    }
    
    
    .partie-filtre {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 15px;
        gap: 0;
        
    }

    .titre-filtre {
        margin-top: 20px;
    }


    .boutons-filtres {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        height: 100%;
        margin-top: 15px;
        
    }

    .bouton-filtres p {
        font-size: 14px;
        text-wrap: nowrap;
    }
    
    button span {
        font-size: 14px;
    }


    .location {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 35px;
        margin-top: 15px;
    }

    .fa-location-dot {
        width: 75px;
    }


    .rechercher {
        display: none;
    }

    .loupe-awesome {
        display: contents;

    }

    .fa-magnifying-glass:before, .fa-search:before {
        color: white;
        background: #0065FC;
        padding: 16px;
        border-radius: 15px;
        display: flex;
        box-shadow: 0px 4px 4px 0px #00000040;
        

    }

    .formulaire {
        width: 100%;
    }

    .formulaire input {
        width: 100%;
        text-align: justify;
        margin-left: 20px;
    }

    form {
        width: 100%;
    }

    .info-circle {
        margin-top: 15px;
        display: flex;
    }
    
    .p-info-circle {
        margin-bottom: 0;
    }

    .fa-info {
        width: 10%;
        border: 1px solid #D9D9D9;
    }

    
    



    /* HEBERGEMENTS */

    .vignette-hebergements {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #hebergements {
        background-color: white;
        margin-top: 0%;
        padding: 20px;
        
    }
    

    .hebergements-and-populaires {
        padding: 0;
        gap: 10px;
    }

    .card-hebergement {
        box-shadow: 0px 3px 15px 0px #0000001A;
    }

    .btnafficher-plus {
        background-color: white
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .hebergements-and-populaires section {
        border-radius: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 20px;
        padding-left: 20px;
        margin: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    
    .populaires-cards .card {
        margin-top: 20px;
        width: 325%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .image-hebergement {
        width: 100%;
    }

    /* ACTIVITES */

    #activités {
        margin-bottom: 50px;
        padding: 30px;
        width: 85%;
    }

    .section-activités {
        margin-top: 30px;
    }

    .h2-activites {
        margin-top: 10px;
    }

    .class-activités {
        display: flex;
        flex-direction: column;
    }

    .images-activites {
        height: 141px;
    }

    .card-activites-h3 {
        padding: 15px;
    }


    /* FOOTER */

    .partie-footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 30px;
        text-wrap: nowrap;
    }




}